
.mobile_top_book_name{
  display: none;
   background: linear-gradient(90deg, #FA7B63 -35.86%, #F09C4C 129.1%);
  padding: 3vh 3vw;
  margin-top: 0px;
  color: white;
}

.mobile_top_book_name span{
  max-width: 16px;
  margin-top: 10px;
  letter-spacing: 5px;
  margin-right: 13px;
  max-height: 16px;
  display: inline-block;
  rotate: -140deg;
}
.mobile_top_book_name p {
  margin: 0 auto;
  font-family: Inter;
  font-weight: 600;
  font-size: 40px;
  letter-spacing: 3px;
  line-height: 13.11px;
  letter-spacing: 0%;

}

.cardBg{
  box-shadow: 0px 4px 4px 0px #00000040;
  border: 3.59px solid #BFBFBF;
  max-width: 381px;
  max-height:755px;
  border-radius: 33.55px;
  border-width: 3.59px;
  position: relative;
  overflow: hidden;
}

.corner_highlight{
  box-shadow: 0px 8.62px 8.62px 0px #00000040;
  background: linear-gradient(317.09deg, rgba(224, 128, 151, 0.87) 0.51%, rgba(213, 48, 78, 0.87) 99.49%);

  padding: 10px;
  color: white;
  position: absolute;
  width: 70%;
  transform: rotate(40deg);
  right: -50px;
  text-align: center;
  padding-left: 30px;
  font-size: 20px;
  font-weight: 600;
  top: 21px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.corner_highlight img{
  max-width: 24px;
  max-height: 24px;
  rotate: -40deg;
  margin-right: 2px;
}
.pack_name{
  font-family: Inter;
  font-weight: 600;
  color: white;
  font-size: 38px;
  line-height: 1;
  letter-spacing: 0px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 74px;
  height: 70px;
  margin-bottom: 10px;
}

.pack_name p{
  margin-bottom: 0px;
}

.pack_name small{
  font-family: 'Inter';
  font-weight: 400;
  font-size: 18px;
  /* line-height: 100%; */
  letter-spacing: 0px;
  text-align: center;

}
.mid_box_gradient{
  box-shadow: 0px 2.16px 8.63px 2.16px #00000040;
  background: linear-gradient(145.9deg, rgba(121, 66, 106, 0) 22.57%, #CA48A7 147.43%);
  border: 1px solid #828282
}


@media (min-width: 992px) and (max-width: 1205px) {
    .corner_highlight{
      width: 80%;
      /* justify-content: center; */
    }
    .corner_highlight img{
      max-width: 24px;
      max-height: 24px;
      rotate: -43deg;
      margin-right: 2px;
    }
}

@media  (max-width: 768px) {
  .cardBg{
    max-width: 49vw;
    max-height: 75vh;
    border-radius: 22px;
  }
  .pack_name{
    font-size: 25px;
    margin-top: 35px;
    /* margin-bottom: 0px; */
  }
  .pack_name small{
    font-size: 12px;
  }
}

@media  (max-width: 520px) {
  .corner_highlight{
    padding: 3px;
    right: -40px;
    padding-left: 15px;
    font-size: 14px;
    top: 25px;
    padding-left: 30px;
    width:80%;
  }
}

@media  (max-width: 420px) {
  .corner_highlight{
   
    width: 90%;
  }
}

@media  (max-width: 380px) {
  .corner_highlight{
    padding-left: 17px;
     top: 20px;
    width: 95%;
  }
}

@media  (max-width: 350px) {
  .cardBg{
    padding: 20px 10px !important;
  }
}