.container{
    width: 1300px;
    max-width: 90vw;
    margin:20px auto 0;  
    color: white;
    z-index: 20; 
    position: relative;
}

.heading_container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;

}

.heading{
    font-weight: 600;
    font-size: 26px;
}

.see_all{
    cursor: pointer;
    padding: 0 10px 0 18px;
    background: #D9D9D945;
    box-shadow: 0px 0.84px 3.37px 0px #00000040;
    border-radius: 30px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    z-index: 2;
    position: relative;
    max-height: 42px;
}
.see_all a{
    display: flex;
    align-items: center
}
.upcoming_book{
    /* box-shadow: -10px -10px 0 gray;
    transform-origin: left center;
  transform: scaleX(1.3); */
    /* transform: scaleX(1.2) scaleY(1.1) rotate(0deg);

  /* Optional: smooth transition on hover 
  transition: transform ;*/
} 

/* .upcoming_book {
  transform: perspective(1000px) rotateY(20deg);
  box-shadow: -10px -10px 0px gray;
} */

/* Optional hover effect to pop out */
/* .upcoming_book:hover {
  box-shadow:
    -15px 15px 25px rgba(0,0,0,0.35),
    inset 7px 0 15px rgba(255,255,255,0.8),
    inset -7px 0 15px rgba(0,0,0,0.15);
  
  transform: rotateY(-5deg) rotateX(3deg) translateZ(10px);
} */
 .upcoming_book {
  position: relative;
    transform: skewY(-8deg);
    margin-top: 29px;
    margin-left: 10px;
    border-radius: 10px;
    box-shadow: -10px -10px 0 gray;
}



.arrow{
    background-color: black;
    padding: 6px 4px;
    max-width: 20px;
    margin-left: 5px;
    border-radius: 50%;
    display: flex;
    overflow-x:hidden ;
    align-items: center;
}

.banner_cont{
    /* display: flex; */
    gap: 22px;
    position: relative;
}

.mobile_banner_cont{
    display: none;
}

.item_cont{
    position: relative;
    overflow: hidden;
    border-radius: 8px;
   transition: transform 0.2s;
    margin:0.04vw 1vw 0.07vw;
}
.item_cont:hover{
    transform: scale(1.05,1.05);
    /* z-index: 15; */
    z-index: 9;
    position: relative;
    
    box-shadow: 0px 2px 4px 0px #00000040;
    border: 1px solid #818181;
    /* overflow: auto; */
    overflow-x: hidden;
    margin: 0 1vw;
}

/* .picture{
    position: relative;

}
.picture :hover{
    transform: scale(1.5,1.5);
    position: absolute;
} */
 .swiper_slider_custom:hover{
    z-index: 999;
 }

.img{
    /* width: 200px; */
    width: 100%;
    max-height: 270px;
    object-fit: cover;
    /* top: 3px; */
    cursor: pointer;
    border-radius: 7px;
}

.podcast_img{
     /* width: 384px; */
    max-width: 100%;
    height: 260px;
    object-position: top left;
    /* height:100%; */
    object-fit: cover;
    /* top: 3px; */
    cursor: pointer;
    border-radius: 7px;
}
.img_phone{
    display: none;
}

.popular{
    background-color: #FD6D81;
    color: white;
    width: 145px;
    max-height: 99px;
    position: absolute;
    padding: 4px 0px;
    text-align: center;
    right: -32px;
    top: 20px;
    transform: rotate(43deg);
}

.crown{
    /* background-color: white; */
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 2;
    /* box-shadow: 0px 1.42px 5.69px 0px #00000040; */
    width: 37px;
    height: 37px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.crown span{
    width: 100%;
    height: 100%;
}
/* .crown span svg{
    display: block;
} */

.player_count{
    display: flex;
    gap: 5px;
    background: #666565;
    max-width: 150px;
    color: white;
    border-radius: 20px;
    padding: 2px 8px 4px;
    align-items: center;
    position: absolute;
    bottom: 10px;
    left: 15px;
    max-height: 32px;
    font-size: 12px;
}
.slider_left_icons,.slider_right_icons{
    height: 70px;
    border-radius: 12px;
    width:15px;
    padding:4px;
    /* bottom: 35%; */
    z-index: 10;
    top: 55%;
    transform: translateY(-50%);
    position: absolute;
    background: linear-gradient(90deg, #CE4573 0%, #68233A 100%);
    /* background:  linear-gradient(270deg, #BC0974 -32.47%, #50226A 113.65%); */

    /* background: #D9D9D933; */
}
.slider_box{
    margin: 0 20px;
    overflow-x: hidden;
    padding: 10px 10px 0;
}
.slider_left_icons{
    left: -0px;
}
.slider_right_icons{
    right: -0px;
}

.new_audio_book{
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    background: linear-gradient(89.91deg, #050F1E -12.66%, #DC0277 138.81%);
    text-align: center;
    position: absolute;
    z-index: 10;
    bottom: 0px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding: 2px;
}
.rent{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
    background-color: #776103;
    font-size: 14px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    padding: 0px 7px;
}
.hovered_item{
    position: absolute;
    bottom: 0px;
    display: none;
    width: 100%;
    z-index: 20;
}
.item_cont:hover .hovered_item{
    display: block;
}
.hue_btn{
    /* z-index: 10; */
}

.shadow_blur{
    backdrop-filter: blur(3.956944704055786px);
    /* opacity: 0.5; */
    margin-bottom: -2px;
   background: linear-gradient(180deg, #ababab9b 0%, #050F1E 65.49%);
}
@media only screen and (max-width: 992px) {
    /* .podcast_img{
        height: 220px;
    } */
    .heading{
        font-weight: 600;
        font-size: 22px;
    }
    .see_all{
        font-size: 16px;
    }
    /* .arrow{
        padding: 5px 2.5px;
    } */
}

@media only screen and (max-width: 768px) {
    .container{
        margin: 10px auto;
    }
    .heading{
        font-weight: 600;
        font-size: 20px;
    }
    .see_all{
        font-size: 10px;
    }
    .arrow svg{
        max-width: 8px;
        max-height: 8px;
    }
    .arrow{
        padding: 5px 5px;
    }
    .item_cont{
        margin:0.04vw 1.5vw 0.07vw;
    }
    .root_banner_cont{
        display: none;
    }
    .mobile_banner_cont{
        display: flex;
        justify-content: space-around;
        gap: 22px;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;

        /* Hide scrollbar (cross-browser) */
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none;
    }
    .slider_icons{
        display: none;
    }
    .slider_box{
        padding: 10px 0px 0;
    }
    /* .img{
        display: none;
    } */
     .rent{
        font-size: 12px;
     }
    .img{
        /* width: 210px; */
        min-width: 150px;
        width: 100%;
        height: 260px;
        top: 1299px;
        left: 229px;
        border-radius: 12px;

    }
    .podcast_img{
        height: 260px;
    }
    .popular{
        padding: 2px 0px;
        right: -40px;
        font-size: 10px;
        top: 10px;
        transform: rotate(33deg);
    }
    .crown{
        max-width: 26px;
        max-height: 26px;
    }
    .player_count{
        font-size: 10px;
    }
    .heading_container{
        margin: 0px 4px 0px 2px;
    }
   .slider_box{
        margin: 0 ;
    }
    
}

@media only screen and (max-width: 650px){
    
    .img{
        /* width: 120px; */
        max-width: 100%;
        max-height: 220px;
        object-fit: cover;
        
        /* top: 3px; */
        cursor: pointer;
        border-radius: 7px;
    }
    .podcast_img{
        height: 220px;
    }
   .item_cont:hover .hovered_item{
        display: none;
    }
   
    .item_cont:hover{
        border: none;
        transform: none;
    }
}

@media only screen and (max-width: 400px){
    .img{
        /* width: 80px; */
        max-width: 100%;
        max-height: 200px;
        object-fit: cover;
        /* top: 3px; */
        cursor: pointer;
        border-radius: 4px;
    }
    .podcast_img{
        height: 200px;
    }
    
    .container{
        max-width: 94%;
    }
    
}