.mobile_slider_icons{
  z-index: 100;
  position: relative;
  padding-top:20px ;
  display: none;
  margin-top: -100px;
  /* backdrop-filter: blur(36px);
  background: linear-gradient(180deg, #F57F49 -28.09%, #F0F8FF 100%); */
  /* background: url('/gradientSliderBanner.png'); */
  /* z-index:; */
}
.slider_left_icons{
  left: 3.5vw;
  width: 90px;
  height: 90px;
  bottom:30%;
}
.slider_box{
  position: relative;
}

.slider_icons{
  padding: 23px 32px;
  border-radius: 50%;
  border: none;
  z-index: 999;
    position: absolute;
    padding: 5px;
  background-color: #D9D9D9B2;
}
.slider_icons svg{
    max-width: 90%;
    max-height: 90%;
}
.slider_right_icons{
  right: 3.5vw;
   max-width: 90px;
  max-height: 90px;
  bottom:30%;
    padding:5px;
}
.slider_right_icons svg{
    max-width: 90%;
    max-height: 90%;
}

 /* .slider_left_icons{
     max-width: 45px;
    max-height: 45px;
  }
  .slider_right_icons{
     max-width: 45px;
    max-height: 45px;
  } */
  .slider_icons{
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }