.mobile_slider_icons{
  z-index: 100;
  position: relative;
  padding-top:20px ;
  /* display: none; */
  margin-top: -100px;
  /* backdrop-filter: blur(36px);
  background: linear-gradient(180deg, #F57F49 -28.09%, #F0F8FF 100%); */
  /* background: url('/gradientSliderBanner.png'); */
  /* z-index:; */
}

.see_all{
  cursor: pointer;
  z-index: 3;
  position: relative;
}
/* .slider_left_icons{
  left: 3.5vw;
  top: 50%;
  width:70px;
  height:70px;
  bottom:30%;
} */
.slider_box{
  position: relative;
}

.slider_left_icons,.slider_right_icons{
    height: 70px;
    border-radius: 12px;
    width:15px;
    padding:4px;
    bottom: 35%;
    z-index: 10;
    /* top: 55%; */
    transform: translateY(-50%);
    position: absolute;
    background: linear-gradient(90deg, #CE4573 0%, #68233A 100%);
    /* background:  linear-gradient(270deg, #BC0974 -32.47%, #50226A 113.65%); */

    /* background: #D9D9D933; */
}
.slider_box{
    margin: 0 20px;
    overflow-x: hidden;
    padding: 10px 10px 0;
}
.slider_left_icons{
    left: -0px;
}
.slider_right_icons{
    right: -0px;
}

/* .slider_icons{
  padding: 23px 32px;
  border-radius: 50%;
  border: none;
  z-index: 999;
    position: absolute;
    padding: 5px;
  background-color: #D9D9D9B2;
} */
.slider_icons svg{
    max-width: 80%;
    max-height: 80%;
}
/* .slider_right_icons{
  right: 3.5vw;
   max-width: 70px;
  max-height: 70px;
  bottom:30%;
    padding:5px;
} */
.slider_right_icons svg{
    max-width: 90%;
    max-height: 90%;
}

 /* .slider_left_icons{
     max-width: 45px;
    max-height: 45px;
  }
  .slider_right_icons{
     max-width: 45px;
    max-height: 45px;
  } */
  .slider_icons{
    padding: 8px 3px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media only screen and (max-width: 768px) {
    .slider_icons{
        display: none;
    }
    .slider_box{
      margin: 0;
      padding: 10px 0px 0;
    }
  }