.option {
  background: linear-gradient(to right, #717171,var(--kabbik-custom-modal-overlay) 70%);
  width: 350px;
  gap: 10px;
  /* background: linear-gradient(to right, #d1d5db, #0e1d3f); */
}

.option:hover,
.option *:hover {
  cursor: pointer;
}

.promocodeGroup {
  color: white;
  background: var(--kabbik-custom-modal-overlay);
  width: 350px;
  border-radius: 7px;
  display: flex;
  flex-direction: row;
  padding: 5px 12px;
  align-items: center;
  gap: 10px;
}

.promocode {
  color: white;
  background: transparent;
  height: 37.33px;
}

.control {
  color: white;
  background: transparent;
  flex-grow: 1;
  border: 0;
}

.control:focus {
  background: var(--kabbik-custom-modal-overlay);
  color: white;
  border: 0;
  outline: 0;
}

.control::placeholder {
  color: var(--kabbik-placeholder-color);
}

.promocodeSubmit {
  background: transparent;
  border: none;
  color: white;
}

#payNowButton {
  padding: 5px 12px 10px;
  background: var(--kabbik-custom-modal-overlay);
  width: auto;
  outline: 0;
  border: 0;
  border-radius: 7px;
  color: white;
}

#payNowButton:disabled {
  color: #7a7a7a;
  cursor: not-allowed;
}
