@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



@layer base {
  :root {
    --titlesize: 6rem; 
  }
  .dark {
    
  }
}


body{
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
  overflow-y: visible;   /* don't clip Y-axis */
  height: auto;
}


/* @layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
} */

.swiper{
  overflow: visible !important;
  /* overflow-x: hidden !important; */
}

.btn-gradient-1{
  background: linear-gradient(90deg, #E319BC 0%, #A36AE9 100%);

}
.btn_gradient_3{
  background: linear-gradient(90deg, #C1177D 0%, #6B2274 100%);
}

.drop_shadow{
  box-shadow: 0px 6px 4px 0px #00000040;
}

.hover_btn-gradient-1:hover{
  background: linear-gradient(90deg, #E319BC 0%, #A36AE9 100%);
}
.btn-gradient-3{
  background: linear-gradient(90deg, #6B4CE6 0%, #3C2A80 100%);
}

.btn-gradient-2{
  background: linear-gradient(90deg, #D24874 0%, #881D69 100%);
}
.bg_opacity_gradient{
  background: linear-gradient(90deg, rgba(241, 155, 77, 0.5) 0%, rgba(250, 124, 99, 0.5) 100%);
}

.bg_gradient_bg{
  box-shadow: 0px 1px 4px 2px #00000040;
  background: linear-gradient(180deg, #E6F7FA 0%, #21a1aa3a 100%);
}

.gradient-text {
  background: linear-gradient(90deg, #CE4573 0%, #68233A 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blur_gradient{
  filter: blur(68px);
  /* background: linear-gradient(353.98deg, #060F1E 4.77%, #27211F 95.23%); */
  background: linear-gradient(353.98deg, #060F1E 4.77%, #27211F 95.23%);

}
.subscribe_gradient{
  background: linear-gradient(145.9deg, rgba(121, 66, 106, 0) 22.57%, #CA48A7 147.43%);

}

.red_gradient_bg{
  background: linear-gradient(90deg, #F70406 0%, #910204 100%);

}

.circular_gradient{
  /* backdrop-filter: blur(494px); */
  /* background: linear-gradient(180deg, #C94273 0%, #881D69 100%); */
  /* background:  radial-gradient(circle at centre, #C94273 0%, transparent 70%); */
  
  /* background: radial-gradient(51% 51% at center, #C94273 64%, #881d6a5e 90%); */
  background: linear-gradient(to bottom, #c94273a4, #881d6a9d);
  filter: blur(120px);
  opacity: 0.99;
}


.circular_gradient_bluish{
  /* backdrop-filter: blur(494px); */
  /* background: linear-gradient(180deg, #C94273 0%, #881D69 100%); */
  /* background:  radial-gradient(circle at centre, #C94273 0%, transparent 70%); */
  
  /* background: radial-gradient(51% 51% at center, #C94273 64%, #881d6a5e 90%); */
  background: linear-gradient(to bottom, #0f245e, #0f245e);
  filter: blur(120px);
  opacity: 0.99;
}

.circular_gradient2{
  backdrop-filter: blur(494px);
  background: radial-gradient(
    circle,
    rgba(201, 66, 115, 0.9) 0%,   /* strong pinkish center */
    rgba(136, 29, 105, 0.7) 40%,  /* purple blend */
    rgba(136, 29, 105, 0.0) 80%   /* fade to transparent edges */
  );
}

.bg_pink_gray{
  background-image: linear-gradient(to right, #f9a8d4, #ec4899);
}

/* 
.rect-gradient{
  position: relative;
  width: 100%;
  overflow: hidden;
  
  background:
    linear-gradient(to right, #5b1b4d 0%, #3b0f2e 45%, rgba(59,15,46,0) 100%),
    linear-gradient(to bottom, rgba(91,27,77,0.12) 0%, rgba(91,27,77,0) 12%, rgba(91,27,77,0) 88%, rgba(91,27,77,0.10) 100%);
  background-blend-mode: normal, screen;
  border-radius: 6px;

  -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 8%, rgba(0,0,0,1) 92%, rgba(0,0,0,0) 100%), linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 66%, rgba(0,0,0,0) 100%);
  mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 8%, rgba(0,0,0,1) 92%, rgba(0,0,0,0) 100%), linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 66%, rgba(0,0,0,0) 100%);
}

.rect-gradient::after{
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  mix-blend-mode: overlay;
  opacity: 0.22;
  background-image: linear-gradient(180deg, rgba(255,255,255,0.02), rgba(0,0,0,0.03)), repeating-linear-gradient(45deg, rgba(255,255,255,0.02) 0 1px, rgba(0,0,0,0) 1px 6px);
} */

.profile_btn_gradients{
  /* backdrop-filter: blur(494px); */
  /* background: linear-gradient(180deg, #C94273 0%, #881D69 100%); */
  background: linear-gradient(90deg, #3A2768 0%, #881D69 164.87%);
}
.profile_earn_gradients{
  background: linear-gradient(90deg, #38469C -23.74%, #A265E5 123.08%);
}

.rect-gradient{
  background: linear-gradient(253.44deg, transparent 11.19%, rgba(105, 36, 77, 0.95) 156.19%);
}
.rect-gradient1{
  background: linear-gradient( transparent 11.19%, rgba(105, 36, 77, 0.95) 156.19%);
}
.rect-gradient2{
  background: linear-gradient(to top, transparent 11.19%, rgba(105, 36, 77, 0.95) 156.19%);
}

.transparent_border{
  box-shadow: 0px 2px 4px 0px #00000040;
  border: 1px solid #a3a3a3dc;
  /* background: #D9D9D903; */

}

.gradient-text2 {
  background: linear-gradient(to right, white, #999);
  -webkit-background-clip: text; /* for Chrome, Safari */
  -webkit-text-fill-color: transparent; /* makes text show background */
  background-clip: text; /* fallback for other browsers */
  color: transparent;
  white-space: nowrap;
}


.hr_gradient{
   background: linear-gradient(90deg, #CE4573 0%, #68233A 100%);
}

.best_collection .swiper-pagination-bullet {
    background: white !important;
    width: 14px !important;
    height: 14px !important;

}
.best_collection .swiper-pagination {
    bottom: 10px !important;
    z-index: 100;
}
.best_collection .swiper-button-next,
.best_collection .swiper-button-prev {
  bottom: 0;
  top: auto;
}

/* no-scrollbars */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.overflow-y-scroll-none::-webkit-scrollbar {
  display: none;
}
.overflow-y-scroll-none{
   -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.font-lato a{
  display: none !important;
}


/* -------------------------------3d book design started------------------------------------------- */
article {
  display: block;
  max-width: 180px;
  max-height: 350px;
  transform: skewY(8deg);
  height: 75vh;
  width: 33vw;
  margin: auto;
  position: relative;
  z-index: 0;
  
  transform: scale(0.9) rotateX(10deg) rotateY(-30deg) rotateZ(0.2deg) translateX(-15px);
}

.cover-back, .pages, .cover {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 0 6px 6px 0;
  box-shadow: 1px 0px 1px rgba(0,0,0,0.9);
  
  position: absolute;
}

.cover-back {
  width: 108.7%;
  top: 0.4%;
  left: -4.93%;
    
  background: #f1f1ef;
}

.pages {
  width: 103.4%;
  height: 96%;
  
  top: 1.35%;
  left: -0.3%;
    
  background: #e0ddd7 linear-gradient(to bottom, transparent 2px, #999 2px, transparent 4px);
    
    span {
      content: "";
      display: block;
      width: 103.8%;
      height: 100%;
      top: 1px;
      left: -3.4%;
      position: absolute;
      background: #e0ddd7;
      box-shadow: 1px 0px 1px rgba(0,0,0,0.9);
      
      &:nth-child(2) {
        top: 4px;
        width: 104.6%;
      }
      
      &:nth-child(3) {
        top: 6px;
        width: 105%;
      }
      
      &:nth-child(4) {
        top: 8px;
        width: 105.6%;
      }
      
      &:nth-child(5) {
        top: 10px;
        width: 106.2%;
      }
    }
}

.cover {
  top: 3%;
  left: 0.8%;
  
  width: 109%;
    
  background-size: cover;
  
  .title {
    display:inline-block;
    color: white;
    position: absolute;
    top: 8%;
    left: 16%;
    width: 62%;
    font-size: var(--titlesize);
    font-family: sans-serif;
    text-shadow: 1px 1px 10px gray;
    text-align: left;
  }
}

.spine {
  display: block;
  height: 100%;
  width: 10%;
  background: gray;
  
  position: absolute;
  top: 1.9%;
  left: -6.6%;
  
  transform-style: preserve-3d;
  transform: rotateX(0deg) rotateY(50deg) rotateZ(0deg) skew(0.19deg, 22deg);
  
   span {
    display:inline-block;
    color: white;
    position: absolute;
    bottom: 15%;
    left: -30%;
    width: 200%;
    height: 5%;
    transform: rotate(-94deg);
    font-size: 16px;
    font-family: sans-serif;
    text-align: left;
  }
}

.spine-shadow {
  display: block;
  background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.5));
  width: 1.6%;
  height: 100%;
  position: absolute;
  top: 3%;
  left: 3.8%;
}


.cover-back {
  z-index: 1;
}
.pages {
  z-index: 2;
}
.cover {
  z-index: 5; 
}
.spine {
  z-index: 6;  
}
.spine-shadow {
  z-index: 7; 
}


@media (max-width:768px){
  :root {
    --titlesize: 3rem; 
  }

  .swiper-slide iframe {
    pointer-events: none;
  }
  .swiper-slide-active iframe {
    pointer-events: auto;
  }

  article {
    width: 155px;
    height: 275px;
  }
  
  .spine {
    span {
      display: none;
    }
  }
}

/*------------------------------------ 3d book design ended-------------------------------------- */

/* width of scrollbar */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

/* track (background) */
::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 10px;
}

/* draggable bar (thumb) */
::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, #D24874 0%, #881D69 100%);
  border-radius: 10px;
}

/* hover effect */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(90deg, #D24874 0%, #881D69 100%);
}

.active_nav_item{
  background: linear-gradient(90deg, #D94C75 0%, #7F1867 100%);
  padding: 0px 4px;
  border-radius: 4px;
}

@media (max-width:768px){
  ::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }
}