.bg_gradient{
    box-shadow: 0px 5.9px 8.85px -5.9px #0000001A;

    box-shadow: 0px 14.75px 22.13px -4.43px #0000001A;

    box-shadow: 0px 0px 0px 0px #00000000;

    box-shadow: 0px 0px 0px 0px #00000000;
    border: 9px solid #888888;
    background: linear-gradient(255.63deg, #B93A70 0.93%, #881D69 99%);


}